<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auto_connect</key>
	<true/>
	<key>encrypted</key>
	<false/>
	<key>format</key>
	<string>connection bundle</string>
	<key>include_session</key>
	<true/>
	<key>save_editor_content</key>
	<true/>
	<key>save_password</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>windows</key>
	<array>
		<dict>
			<key>frame</key>
			<string>{{84, 104}, {1284, 745}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>D29A72D9-23EB-43D4-8377-CC48CCC26F4B.spf</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
